{% extends 'base.html' %} {% block content %}
<script defer src="{{url_for('static', filename= 'js/index.js')}}"></script>
<div class="container">
    <div class="content-container">
        <div class="cog"><img src="{{ url_for('static', filename= 'assets/cog.svg') }}"></img></div>
        <h1>Scrape Free Udemy courses</h1>
        <form action="scraper">
            <textarea name="urls" id="urls" cols="30" rows="10"></textarea>
            <button type="submit">Scrape</button>
        </form>
    </div>
</div>

<style>
    :root {
        --cog-url: url({{url_for('static', filename= 'assets/cog.svg')}});
    }
</style>

{% endblock %}
