@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Source+Code+Pro&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

img {
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    background-color: #ebf4f2;
}

section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1em;
}

section.pages-section,
section.languages-section {
    align-items: center;
}

.content-container {
    position: relative;
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    padding-top: 4em;
    max-width: 50em;
}

.cog {
    position: absolute;
    content: '';
    width: 4em;
    height: 4em;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    padding: 0.375em;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -1.5em;
}

.input-container {
    gap: 1em;
}

section:not(.extra-section) .input-group {
    gap: 0.5em;
}

section.extra-section .input-group {
    justify-content: space-between;
    gap: 2em;
}

section.languages-section .input-container {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.25em;
}

section.languages-section .input-group {
    padding: 0.5em 1em;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
}

input:not([type='checkbox']) {
    background-color: #ebf4f2;
    border: none;
    padding: 0.5em 0.75em;
    font-size: 0.875rem;
    border-radius: 0.5em;
    width: 4em;
    text-align: center;
}

input::placeholder {
    color: #777;
}

input[type='checkbox']:checked {
    accent-color: #8e2de2;
}

input:focus-visible {
    outline: 2px solid #8e2de2;
}

button,
.button {
    display: block;
    margin-inline: auto;
    margin-top: 1em;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
    font-size: 1.25rem;
    border: none;
    padding: 0.5em 0.75em;
    border-radius: 1em;
    transition: transform 400ms;
    width: fit-content;
    text-decoration: none;
}

label,
input[type='checkbox'],
button {
    cursor: pointer;
}

button:hover,
.button:hover {
    transform: scale(1.15);
}

h1,
h2 {
    text-align: center;
    color: #8e2de2;
}

html {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-block: 1em;
}

.go-back {
    text-decoration: none;
    font-size: 1.125rem;
}

.go-back::before {
    content: '';
    background-image: var(--go-back-url);
    width: 1em;
    display: inline-block;
    height: 1em;
    background-size: contain;
    margin-right: 0.5em;
}

.container {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    place-items: center;
    padding: 2.5em 0.75em;
}

.container-lg {
    padding: 1em;
}

pre {
    height: min(70vh, 40rem);
    overflow: scroll;
    scrollbar-width: thin;
    margin-block: 1em;
    background-color: #444;
    color: white;
    padding: 0.5em;
    font-family: 'Source Code Pro', monospace;

    font-size: 0.75rem;
}

pre a {
    color: aqua;
}

pre a:visited {
    color: burlywood;
}

.hide {
    display: none;
}

@keyframes grow {
    0%,
    100% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);
    }
}

.download-csv {
    animation: grow 2s ease-in-out infinite;
}
